.about-container {
  background-color: white;
  text-align: center;
  margin: 5px;
  padding: 10px;

  h1 {
    margin: 0;
    font-family: 'Fjalla One', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    cursor: default;
    transition: 0.5s all;
  }

  h1:hover {
    color: color(primary);
  }

  @include desktop {
    margin: 0 auto;
    max-width: 800px;
  }

  .about-text {
    font-size: 17px;
  }
}