.contact-container {
  padding: 10px;

  .email {
    text-align: center;
    font-size: 20px;

    a {
      text-decoration: none;
      color: color(primary);
    }
  }

  @include desktop {
    margin: 0 auto;
    max-width: 800px;
  }

  h1 {
    margin-bottom: 0;
  }

  #title {
    text-align: center;
  }
  
  input[type=email], textarea {
    -webkit-appearance: none;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  textarea {
    height: 150px;
    resize: none;
  }

  input[type=submit] {
    -webkit-appearance: none;
    background-color: color(primary);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
    transition: 0.2s all;
  }

  input[type=submit]:hover {
    background-color: color(primary-dark);
  }
}