.projects-container {
  text-align: center;
  margin-top: 60px;
  h1 {
    margin-bottom: 0;
  }
  .project-card {
    margin: 0 auto;
    margin-bottom: 20px;
    //padding: 20px;
    border-radius: 5px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2); 
    width: 270px;

    img {
      width: 100%;
    }

    h4 {
      margin: 0px;
    }

    ul {
      margin-top: 10px;
      list-style-type: none;
      padding: 0;
    }

    .project-button {
      display: inline-block;
      width: 100px;
      background-color: color(primary);
      color: #fff;
      height: 30px;
      margin: 5px;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.3s all;
    }

    .project-button:hover {
      background-color: color(primary-dark);
      color: white;
    }
  }
}