.projects-container {
  text-align: center;
  .project-card {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .2); 
    width: 250px;

    img {
      width: 100%;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    .project-button {
      display: inline-block;
      width: 100px;
      background-color: color(primary);
      color: #fff;
      height: 30px;
      margin: 5px;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.3s all;
    }

    .project-button:hover {
      background-color: color(primary-dark);
      color: white;
    }
  }
}